<a href="https://colab.research.google.com/github/AkashYadav-02/python/blob/main/2_1_Measure_OF_Dispersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Measure Of Dispersion

In [ ]:
##variance

ages_lst=[23,43,23,56,74,32,68,98,45,32]

In [ ]:
import numpy as np

In [ ]:
mean=np.mean(ages_lst)

In [ ]:
mean

49.4

In [ ]:
var=np.var(ages_lst)
var

541.64

In [ ]:
std=np.std(ages_lst)
std

23.273160507331188

In [ ]:
import pandas as pd

In [ ]:
data=[[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [ ]:
df=pd.DataFrame(data,columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [ ]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [ ]:
## Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [ ]:
## coulmnwise
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [2]:
import seaborn as sns

In [8]:

df=sns.load_dataset('healthexp')

In [9]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [7]:
import numpy as np

In [10]:
###coverence

In [11]:
df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [14]:
##corelation
df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [20]:
ds=sns.load_dataset('penguins')
ds.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [21]:
ds.corr(method='pearson')

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000